<launch>
	<include file="$(find racecar)/launch/teleop.launch"/>
    	<include file="$(find zed_wrapper)/launch/zed.launch"/>
	<node name="PrimaryDrive" pkg="racecar_77" type="drive.py" output="screen"/>
	<!-- <node name="SecondDrive" pkg="racecar_77" type="secondary_drive.py" output="screen"/> -->
	<node name="ShortcutDetect" pkg="racecar_77" type="shortcutDetectorDark.py" />
</launch>
